{{!loop template}}
<section id="loop">
  {{#foreach posts}}
    <article class="loop">
      {{#if image}}
        <header class="image" style="background: url({{image}}) no-repeat center center; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
          <div class="wrapper">
            <a href="{{url absolute="true"}}"><h1>{{title}}</h1></a>
          </div>
        </header>
      {{else}}
        <header>
          <a href="{{url absolute="true"}}"><h1>{{title}}</h1></a>
          <section class="excerpt">
            <p>{{excerpt words="0"}}</p>
          </section>
        </header>
      {{/if}}
      <footer>
        <div class="author">
          {{#if author.image}}
            <div class="image"><img src="{{author.image}}"/></div>
          {{/if}}
          <p><b>{{author.name}}</b>, </br>{{date format="MMMM DD, YYYY"}}</p>
        </div>
        <div class="tags">
          <p><i>
            {{tags separator=" & "}}
          </i></p>
        </div>
      </footer>
    </article>
  {{/foreach}}
</section>
<script>
  $offset = $("article.loop").first().outerHeight();
  $("#site-shim").shimThis({
    ontop: 'section.hero',
    offset: $offset+'px'
  });
</script>
