<section id="tag" class="shim">
  {{#tag}}
    {{#if image}}
      <header class="image" style="background: url({{image}}) no-repeat center center; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
        <div class="wrapper">
          <a href="{{url absolute="true"}}"><h1>{{name}}</h1></a>
        </div>
      </header>
    {{else}}
      {{/if}}
  {{/tag}}
  <footer>
    <p>{{pagination.total}} posts</p>
  </footer>
</section>
<script>
  $("#tag a").centerThis("#tag header");
</script>
