<article class="note">
  <header>
    <h1>{{title}}</h1>
    <p>{{date format="MMMM DD, YYYY"}} -
    {{#author}}
      <a href="{{url}}">{{name}}</a>
    {{/author}}
  </header>
  <section class="content">
    {{content}}
  </section>
</article>
